.start{
    background-image: url("back.jpg");
    background-attachment: fixed;
    background-repeat: none;
    background-position: center;
}
body{
    background-image: url("back.jpg");
    background-attachment: fixed;
    background-repeat: none;
    background-position: center;

}
.container{
    font-size: 40px;
    margin: auto;
    color: white;
    background-color: burlywood;
    
}